{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kelnero</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "styles.css" %}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      {% if navbar %}
      <nav>
      <ul class="nav nav-tabs">
        {% for item in navbar %}
        {% if item.children %}
        <li class="dropdown{% if item.right %} pull-right{% endif %}">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ item.label|safe }}</a>
          <ul class="dropdown-menu">
          {% for subitem in item.children %}
            {% if subitem.active %}
            <li class="active"><a href="#">{{ subitem.label|safe }}</a></li>
            {% else %}
            <li><a href="{{ subitem.link }}">{{ subitem.label|safe }}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
        </li>
        {% elif item.active %}
        <li class="active{% if item.right %} pull-right{% endif %}"><a href="#">{{ item.label|safe }}</a></li>
        {% else %}
        <li {% if item.right %}class="pull-right"{% endif %}><a href="{{ item.link }}">{{ item.label|safe }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
      </nav>
      {% endif %}

      {% block content %}
      {% endblock %}

      <div class="bottom-space"></div>
    </div>
    <script src="{% static "jquery-2.1.0.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
