{% extends "base.html" %}
{% load i18n %}

{% block content %}
<table class="table">
  <tbody>
    <tr>
      <th>{% trans "Vardas" %}:</th>
      <td>{{ client.name }}</td>
    </tr>
    <tr>
      <th>{% trans "Stalo numeris" %}:</th>
      <td>{{ client.bill.code }}</td>
    </tr>
    <tr>
      <th>{% trans "Kliento sąskaitos numeris" %}:</th>
      <td>{{ client.code }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
