{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<hr>

<a href="{% url "items" client.key %}" class="btn btn-default">{% trans "Naujas užsakymas" %}</a>

<hr>

<form action="" method="post">
{% csrf_token %}
{% include "partials/client_orders_table.html" %}
</form>

<hr>

<form action="" method="post">
  {% csrf_token %}
  {% if unaproved_orders %}
  <button type="submit" name="action" value="confirm" class="btn btn-primary">{% trans "Patvirtinti užsakymus" %}</button>
  {% endif %}
  <a href="{% url "client_orders" client.key %}" class="btn btn-default pull-right">{% trans "Atnaujinti" %}</a>
</form>

{% endblock %}
