{% extends "base.html" %}
{% load i18n %}

{% block content %}
<hr>

<a class="btn btn-default" href="{% url "add_friend" client.key %}">{% trans "Add friend" %}</a>
<hr>

<table class="table">
  <tbody>
    {% for friend in friends %}
    <tr>
      <td><a href="{% url "client_orders" friend.key %}">{{ friend }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
