{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
{% crispy new_client_form %}
<div class="space"></div>
<hr>
<p>{% trans "Arba prisijunkite prie esamos savo sąskaitos:" %}</p>
{% crispy old_client_form %}
{% endblock %}
