{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<p><strong>Naujas užsakymas:</strong></p>
<form action="" method="post">
{% csrf_token %}
<table class="table">
  <tbody>
  {% if parent %}
  <tr>
    <td colspan="3">
      <a href="{% url "items" client.key %}">{% trans "Meniu" %}</a>
    </td>
  </tr>
  {% for item in parent.get_ancestors %}
  <tr>
    <td colspan="3" style="padding-left:{{ item.get_indent }}">
      <a href="{% url "items" client.key item.pk %}">{{ item.get_tree_name }}</a>
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="3" style="padding-left:{{ parent.get_indent }}">
      <strong>{{ parent.get_tree_name }}</strong>
    </td>
  </tr>
  {% else %}
  <tr>
    <td colspan="3">
      <strong>{% trans "Meniu" %}</strong>
    </td>
  </tr>
  {% endif %}
  {% for item in items %}
  <tr>
    {% if item.price %}
    <td>
      <strong>{{ item.get_tree_name }}</strong>
    </td>
    <td class="number">{% if item.price %}{{ item.price }}&nbsp;Lt.{% endif %}</td>
    <td>
      <button type="submit" class="btn btn-default" name="item" value="{{ item.pk }}">{% trans "Užsakyti" %}</button>
    </td>
    {% else %}
    <td colspan="3" style="padding-left:{{ item.get_indent }}">
      <a href="{% url "items" client.key item.pk %}">{{ item }}</a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
</form>
{% endblock %}
