.container {
    margin: 8px auto;
    width: 320px;
}

nav {
    margin-bottom: 16px;
}

.number {
    text-align: right;
}

.order-buttons {
    margin-top: 6px;
}

.bottom-space {
    height: 100px;
}

.space {
    height: 42px;
}

.form-actions {
    padding-bottom: 8px;
}
