{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "partials/bills_menu.html" %}

<hr>

<p>{% trans "Stalas:" %} <strong>{{ bill.table.name }}</strong></p>
<p>{% trans "Stalo sąskaitos kodas:" %} <strong>{{ bill.code }}</strong></p>
{% if not bill.active %}
<p class="text-danger"><strong>{% trans "Sąskaita uždaryta. Užsakymai nepriimami." %}</strong></p>
{% endif %}

<hr>

{% if clients %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Vardas" %}</th>
      <th>{% trans "Kodas" %}</th>
      <th>{% trans "Suma" %}</th>
    <tr>
  <thead>
  <tbody>
    {% for client in clients %}
    <tr>
      <td>
        {% if show_paid %}
        <a href="{% url "paid_client_bill" bill.pk client.pk %}">{{ client.name }}</a>
        {% else %}
        <a href="{% url "client_bill" bill.pk client.pk %}">{{ client.name }}</a>
        {% endif %}
      </td>
      <td class="number">{{ client.code }}</td>
      <td class="number"><strong>{{ client.total }}&nbsp;Lt.</strong></td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
  <tr class="bg-info">
    <th colspan="2">{% trans "Viso" %}</th>
    <th class="number">{{ total }}&nbsp;Lt.</th>
  </tr>
  </tfoot>
</table>
{% else %}
<div class="well">{% trans "Šioje sąskaitoje nėra neapmokėtų užsakymų." %}</div>
{% endif %}

<hr>
<form action="" method="post">
  {% csrf_token %}
  {% if not bill.active %}
  <button type="submit" name="action" value="open" class="btn btn-primary">{% trans "Aatidaryti" %}</button>
  {% elif clients and not show_paid %}
  <button type="submit" name="action" value="paid" class="btn btn-primary">{% trans "Apmokėta" %}</button>
  {% elif bill.active %}
  <button type="submit" name="action" value="close" class="btn btn-primary">{% trans "Uždaryti" %}</button>
  {% endif %}
  <a href="{% url "bill" bill.pk %}" class="btn btn-default pull-right">{% trans "Atnaujinti" %}</a>
</form>

{% endblock %}
