{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% include "partials/bills_menu.html" %}

<hr>

{% if bills %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Sąskaita" %}</th>
      <th>{% trans "Stalas" %}</th>
      <th>{% trans "Suma" %}</th>
    <tr>
  <thead>
  <tbody>
    {% for bill in bills %}
    <tr>
      <td>
        {% if show_paid %}
        <a href="{% url "paid_bill" bill.pk %}">{{ bill.code }}</a>
        {% else %}
        <a href="{% url "bill" bill.pk %}">{{ bill.code }}</a>
        {% endif %}
      </td>
      <td class="number">{{ bill.table__name }}</td>
      <td class="number"><strong>{{ bill.total }}&nbsp;Lt.</strong></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="well">{% trans "Nėra nei vienos aktyvios sąskaitos." %}</div>
{% endif %}
{% endblock %}
