{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "partials/bills_menu.html" %}

<hr>

<p>{% trans "Stalas:" %} <strong>{{ bill.table.name }}</strong></p>
<p>{% trans "Stalo sąskaitos kodas:" %} <a href="{% url "bill" bill.pk %}">{{ bill.code }}</a></p>
<p>{% trans "Klientas:" %} <strong>{{ client.name }}</strong> ({{ client.code }})</p>
<hr>

{% include "partials/client_orders_table.html" %}

<hr>
<form action="" method="post">
  {% csrf_token %}
  {% if not show_paid %}
  <button type="submit" name="action" value="paid" class="btn btn-primary">{% trans "Apmokėta" %}</button>
  {% endif %}
  <a href="{% url "client_bill" bill.pk client.pk %}" class="btn btn-default pull-right">{% trans "Atnaujinti" %}</a>
</form>
{% endblock %}
