{% extends "base.html" %}
{% load i18n %}

{% block content %}
<hr>

<form action="" method="post">
{% csrf_token %}
{% if orders %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Pavadinimas" %}</th>
      <th>{% trans "Klientas" %}</th>
      <th>{% trans "Stalas" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td rowspan="2"><a href="{% url "order_details" order.client.bill.pk order.pk %}">{{ order.item }}</a></td>
      <td><strong>{{ order.client.name }}</strong></td>
      <td class="number">{{ order.client.bill.table }}</td>
    </tr>
    <tr>
      <td colspan="2" class="number">
        {% include "partials/waiter_order_status.html" %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</form>
{% else %}
<div class="well">{% trans "Nėra nei vieno užsakymo." %}</div>
{% endif %}

<div>
  <hr>
  <a href="{% url "waiter" %}" class="btn btn-default pull-right">{% trans "Atnaujinti" %}</a>
</div>
{% endblock %}
