{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form action="" method="post">
{% csrf_token %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Pavadinimas" %}</th>
      <th>{% trans "Klientas" %}</th>
      <th>{% trans "Stalas" %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td rowspan="2"><strong>{{ order.item }}</strong></td>
      <td><strong>{{ order.client.name }}</strong></td>
      <td class="number">{{ order.client.bill.table }}</td>
    </tr>
    <tr>
      <td colspan="2" class="number">
        {% include "partials/waiter_order_status.html" %}
      </td>
    </tr>
  </tbody>
</table>
</form>

<hr>
<form action="" method="post">
{% csrf_token %}
<p><strong>{% trans "Atšaukti šį užsakymą" %}</strong></p>
<div class="well">

  <div class="form-group">
    <label for="reasonId">{% trans "Atšaukimo priežastis" %}</label>
    <input type="text" class="form-control" id="reasonId" name="reason">
  </div>

  <hr>
  <button type="submit" name="action" value="cancel" class="btn btn-primary">{% trans "Atšaukti" %}</button>
</div>
</form>


<hr>
<form action="" method="post">
{% csrf_token %}
<p><strong>{% trans "Pažymėti pasibaigusius produktus" %}</strong></p>
<div class="well">
  <div class="form-group">
    <div class="btn-group-vertical btn-block" data-toggle="buttons">
      {% for item in order.item.get_ancestors %}
      <label class="btn btn-default">
        <input type="radio" name="item" value="{{ item.pk }}"> {{ item }}
      </label>
      {% endfor %}
      <label class="btn btn-default">
        <input type="radio" name="item" value="{{ order.item.pk }}"> {{ order.item }}
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="btn-group-vertical btn-block" data-toggle="buttons">
      <label class="btn btn-default">
        <input type="checkbox" name="cancel" value="1"> {% trans "Atšaukti užsakymus" %}
      </label>
    </div>
  </div>

  <hr>
  <button type="submit" name="action" value="ended" class="btn btn-primary">{% trans "Pažymėti" %}</button>
</div>
</form>

{% endblock %}
