{% extends "base.html" %}
{% load trans from i18n %}
{% load crispy from crispy_forms_tags %}

{% block content %}

{% if form.instance and form.instance.pk %}
<h3>{% trans "Kategorijos keitimo forma" %}</h3>
{% else %}
<h3>{% trans "Naujos kategorijos forma" %}</h3>
{% endif %}

{% crispy form %}

{% endblock %}
