{% extends "base.html" %}
{% load trans from i18n %}
{% load ref from kelnerotags %}

{% block content %}
<table class="table">
  <tbody>
    {% include "kelnero/manager/menu/partials/parents.html" with parent=item.parent link_last=True %}
  </tbody>
</table>

<h3>{{ item.name }}</h3>

<hr>

<a href="{% url "manager_menu_item_update" item.pk %}?{% ref %}"
   class="btn btn-primary">{% trans "Keisti įrašą" %}</a>

{% endblock %}
