{% extends "base.html" %}
{% load trans from i18n %}
{% load ref from kelnerotags %}

{% block content %}

<table class="table">
  <tbody>
  {% include "kelnero/manager/menu/partials/parents.html" %}
  <tr>
    <td colspan="3">
      <div class="form-actions pull-right">
      {% if parent %}
        <a href="{% url "manager_menu_category_create" parent.pk %}?{% ref %}"
           class="btn btn-primary">{% trans "Nauja kategorija" %}</a>
        <a href="{% url "manager_menu_item_create" parent.pk %}?{% ref %}"
           class="btn btn-primary">{% trans "Naujas įrašas" %}</a>
      {% else %}
        <a href="{% url "manager_menu_category_create" %}?{% ref %}"
           class="btn btn-primary">{% trans "Nauja kategorija" %}</a>
        <a href="{% url "manager_menu_item_create" %}?{% ref %}"
           class="btn btn-primary">{% trans "Naujas įrašas" %}</a>
      {% endif %}
      </div>
    </td>
  </tr>
  {% for item in items %}
  <tr>
    {% if item.is_category %}
    <td colspan="2">
      <a href="{% url "manager_menu_items" item.pk %}">{{ item }}</a>
    </td>
    <td>
      <a href="{% url "manager_menu_category_update" item.pk %}?{% ref %}"
         class="btn btn-default">{% trans "Keisti" %}</a>
    </td>
    {% else %}
    <td>
      <a href="{% url "manager_menu_item_details" item.pk %}"
         >{{ item.get_tree_name }}</a>
    </td>
    <td class="number">
      {% if item.price %}{{ item.price }}&nbsp;Lt.{% endif %}
    </td>
    <td>
      <a href="{% url "manager_menu_item_update" item.pk %}?{% ref %}"
         class="btn btn-default">{% trans "Keisti" %}</a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
