{% load i18n %}
<ul class="nav nav-pills">
  {% if show_paid %}
  <li><a href="{% url "bills" %}">{% trans "Neapmokėtos" %}</a></li>
  <li class="active"><a href="#">{% trans "Apmokėtos" %}</a></li>
  {% else %}
  <li class="active"><a href="#">{% trans "Neapmokėtos" %}</a></li>
  <li><a href="{% url "paid_bills" %}">{% trans "Apmokėtos" %}</a></li>
  {% endif %}
</ul>
