{% load i18n %}
{% if orders %}
<table class="table">
  <thead>
  <tr>
    <th>{% trans "Pavadinimas" %}</th>
    <th>{% trans "Kaina" %}</th>
  </tr>
  </thead>
  <tbody>
  {% for order in orders %}
  <tr>
    <td>
      {% if order.status == Order.CANCELED %}
      <del>{{ order.item }}</del>
      {% if order.cancel_reason %}
      <p class="text-danger">{{ order.cancel_reason }}</p>
      {% endif %}
      {% else %}
      {{ order.item }}
      {% endif %}
    </td>
    <td class="number">
      {% if order.status == Order.CANCELED %}
      <div><del>{{ order.item.price }}&nbsp;Lt.</del></div>
      {% else %}
      <div>{{ order.item.price }}&nbsp;Lt.</div>
      {% endif %}
      <div>
      {% include "partials/order_status_label.html" %}
      </div>
      {% if order.status == Order.CREATED %}
      <div class="order-buttons"><button type="submit" class="btn btn-default" name="delete" value="{{ order.pk }}">{% trans "Atšaukti" %}</button></div>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
  <tfoot>
  <tr class="bg-info">
    <th>
      {% if show_paid %}
      {% trans "Sumokėta" %}
      {% else %}
      {% trans "Mokėti" %}
      {% endif %}
    </th>
    <th class="number">{{ total }}&nbsp;Lt.</th>
  </tr>
  </tfoot>
</table>
{% else %}
<div class="well">{% trans "Užsakymų nėra." %}</div>
{% endif %}
