{% load i18n %}

{% if order.status == Order.CANCELED %}
<span class="label label-danger">{{ order.get_status_display }}</span>
{% elif order.status == Order.PAID %}
<span class="label label-info">{{ order.get_status_display }}</span>
{% elif order.status > Order.ACCEPTED %}
<span class="label label-success">{{ order.get_status_display }}</span>
{% else %}
<span class="label label-default">{{ order.get_status_display }}</span>
{% endif %}
