{% load i18n %}

{% if order.status == Order.CONFIRMED %}
<button class="btn btn-default" type="submit" name="order" value="{{ order.pk }}">{% trans "Priimti" %}</button>
{% elif order.status == Order.ACCEPTED %}
<button class="btn btn-default" type="submit" name="order" value="{{ order.pk }}">{% trans "Atnešta" %}</button>
{% else %}
{% include "partials/order_status_label.html" %}
{% endif %}
