{% load trans from i18n %}
{% load ref from kelnerotags %}
{% if parent %}
<tr>
  <td colspan="3">
    <a href="{% url "manager_menu_items" %}">{% trans "Meniu" %}</a>
  </td>
</tr>
{% for item in parent.get_ancestors %}
<tr>
  <td colspan="2" style="padding-left:{{ item.get_indent }}">
    <a href="{% url "manager_menu_items" item.pk %}">{{ item.get_tree_name }}</a>
  </td>
  <td>
    <a href="{% url "manager_menu_category_update" item.pk %}?{% ref %}"
       class="btn btn-default">{% trans "Keisti" %}</a>
  </td>
</tr>
{% endfor %}
<tr>
  <td colspan="2" style="padding-left:{{ parent.get_indent }}">
    {% if link_last %}
    <a href="{% url "manager_menu_items" parent.pk %}">{{ parent.get_tree_name }}</a>
    {% else %}
    <strong>{{ parent.get_tree_name }}</strong>
    {% endif %}
  </td>
  <td>
    <a href="{% url "manager_menu_category_update" parent.pk %}?{% ref %}"
       class="btn btn-default">{% trans "Keisti" %}</a>
  </td>
</tr>
{% else %}
<tr>
  <td colspan="3">
    <strong>{% trans "Meniu" %}</strong>
  </td>
</tr>
{% endif %}
