<ul class="nav nav-pills">
  {% for item in items %}
    {% if item.active %}
      <li class="active"><a href="{{ item.link }}">{{ item.label|safe }}</a></li>
    {% else %}
      <li><a href="{{ item.link }}">{{ item.label|safe }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
